body {
  background-image: url(https://i.guim.co.uk/img/media/6c2cd4fbea65500e491bbec50338309aa8f006bb/0_0_5189_3114/master/5189.jpg?w=1200&h=630&q=55&auto=format&usm=12&fit=crop&crop=faces%2Centropy&bm=normal&ba=bottom%2Cleft&blend64=aHR0cHM6Ly91cGxvYWRzLmd1aW0uY28udWsvMjAxOC8wMS8zMS90d2l0dGVyX2RlZmF1bHQucG5n&s=a0ffed2d60655145b89703d4ecce72fb);
}
h1.introduction {
  font-size: 30%
  font-style:italic;
  text-align: center;
}
h2.introduction {
  color: blue;
  font-style: oblique;
}
p.introduction {
  font-weight: bold;
}
h3.introduction {
  font-style: oblique;
}
img.introduction {
  float: left;
}
